body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fce4ec;
    text-align: center;
    margin-top: 100px;
}
img{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all .3s ease;
}

input[type=text]{
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid #f48fb1;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px;
    transition: all .3s ease;
}
h2{
    font-size: 20px;
    color: #f06292;
    transition: all .3s ease;
}
button {
    padding: 10px 20px;
    background-color: #f48fb1;
    color: #ffffff;
    border:  1px solid #f06292;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .3s ease;
}
input:hover[type=text]{
    border: 2px solid #f06292;
    font-size: 20px;
}
h2:hover{
    font-size: 30px;
    color: #ec407a;
}
button:hover{
    background-color: #f06292;
    font-size: 20px;
    
}
h1{
    font-size: 25px;
    color: #f48fb1;
}
img:hover{
    transform: scale(1.1);
}
